<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="ABC" value="https://google.com" protocolVersion="3" />
  </packageSources>
 <packageSourceCredentials>
    <ABC>
      <add key="Username" value="XXXX" />
      <add key="ClearTextPassword" value="XXX" />
    </ABC>
  </packageSourceCredentials>
</configuration>